<app-header titulo="Perfil"></app-header>
<app-menu></app-menu>
  <ion-content fullscreen>
    <ion-card>
      <ion-avatar class="center">
        <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg" />
      </ion-avatar>
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded.
      </ion-card-content>
    </ion-card>
  </ion-content>