<ion-menu id="main"
          side="start" 
          menuId="custom" 
          contentId="main" 
          class="my-custom-menu">
  <ion-header translucent>
    <ion-toolbar color="danger">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item slot="start" expand="block"  ion-button color="secondary_btn">
        <ion-button routerLink="/home">
          Inicio
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button routerLink="/profile">
          Perfil
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button routerLink="/comollegar">
          Como llegar
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button routerLink="/comollegar">
          Como llego?
        </ion-button>
      </ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>